* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(255, 255, 255);
    text-align: center;

}

.navbar {
    text-align: right;
    padding: 10px;

}

.navbar a {
    text-emphasis: none;
    color: blue;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 30px;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        text-align: center;
        background-color: rgb(244, 244, 244);
    }
}

@media screen and (max-width: 768px) {
    .navbar  a {
      font-size: 22px;
      align-items: center;
    }
  }

header {
    margin: 0;
    border: 0;
    background-color: rgb(255, 255, 255);
    padding: 1em;
}

header img {
    display: flex;
    height: auto;
    width: 145px;
    padding-left: 25px;
}

header p3 {
    padding: 20px 10px 20px 10px;
    color: black;
    font-size: 25px;
    line-height: 2em;
    font-family: sans-serif;
    margin: auto;
}


 header p1 {
    color: rgb(158, 160, 158);
    font-size: 20px;
    line-height: 1.5em;
    padding: 10px;
    margin-bottom: 15px;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    .header {
     display: flex;
     position: fixed;
     width: 100%;
     padding: 1em;
     min-width: 400px;
    }
}

header h3, .button-group {
    display: inline-flex;
  }

  header h3 {

    font-family: serif;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 25px;
  }

  @media screen and (max-width: 768px) {
    /* Styles applied when screen width is less than or equal to 768px */
    .header {
        font-family: sans-serif;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    }

.search-box {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px;
}

.material-symbols-outlined {
    background-color: rgb(229, 229, 229);
    color: rgb(59, 59, 253);
    height: 24px;
    width: 35px;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    border-right-width: 0px;
}

.City {
    height: 28px;
    width: 199px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: left;
    padding-top: 6px;
    border-color: rgb(191, 191, 191);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    padding-left: 10px;
}

.stars {
    color: rgb(41, 41, 230);
}

.Button {
    height: 28px;
    width: 79px;
    background-color: rgb(54, 51, 238);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 6px;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    border-left-width: 0;
}

.button-group {
    display: flex;
    flex-direction: row;
}

.button {
   height: 40px;
   width: 182px;
   background-color: rgb(223, 223, 223);
   margin: 10px;
   display: flex;
   flex-direction: row;
   text-align: center;
   border-radius: 2em;
   font-weight: 400;
   font-size: 16px;
   border-style: none;
   padding-top: 10px;

}

@media screen and (max-width: 768px) {
    /* Styles applied when screen width is less than or equal to 768px */
    button {
     display: flex;
     margin: 30px auto;
     width: 50%;
     flex-direction: column;
    }
    .button-group {
        display: flex;
        flex-wrap: wrap;
    }
  }

.button-group img {
    height: 23px;
    width: 23px;
    padding: 9px;
    background-color: rgb(128, 215, 255);
    margin-top: -10px;
    margin-right: 20px;
    border-radius: 2em;
}

.info {
    background-color: white;
}

section h3 {
    color: grey;
    font-weight: 100;
    display: inline-flex;
    padding-left: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    justify-content: space-around;
    background-color: rgb(204, 205, 205);
    width: 60%;
    height: 620px;
    margin: 10px;
    padding: 20px;
    border-radius: 1em;
    box-sizing: border-box;

}

.card {
    display: inline-block;
    background: white;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 2em;
    font-size: 15px;
    box-sizing: border-box;
}

.stars {
    display: flex;
    flex-direction: row;
}

.card h4, p, .stars {
    padding-left: 10px;
    padding-bottom: 10px;
}


.card-image img {
    height: 130px;
    width: 230px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin: 8px;
}


@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        justify-content: center;
        margin-bottom: 50px;
        background-color: rgb(236, 236, 236);
    }
.card, .search-card {
    width: 80%;
}
}


@media screen and (max-width: 768px) {
        .card-image img {
            width: 93%;
        }
}

.container2 {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 35%;
    background-color: rgb(204, 205, 205);
    height: 620px;
    padding: 20px;
    margin: 10px 20px;
    float: right;
    border-radius: 1em;
}


.container2 h3 {
    font-family: cursive;
}

.second-card {
    background: rgb(118, 118, 118);
    width: 380px;
    height: 180px;
    margin: 10px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 2em;
}


.second-card img {
    height: 140px;
    width: 175px;
    background-size: cover;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    margin: 8px;
    float: left;
}

.search-card h4, p, .stars {
    padding: 10px;
}


.activites {
    padding: 25px;
    font-size: 30px;
}

.container2 h3 {
        font-size: 27px;
        margin-top: 20px;
    }

.container2 h4, p, .stars
{
    padding: 10px;
}
.container, .container2{
        float: left;
        box-sizing: border-box;
        padding: 0 20px;
      }

@media screen and (max-width: 768px) {
        .container, .container2{
          width: 100%;
          float: none;
          height: auto;
          margin: auto;
        }
        .container2 {
            order: -1;
            margin-bottom: 20px;
          }
      }

 .main-image {
        width: 100%;
        margin: auto;
    }

    .main-image {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min 25rem, 1fr));
        grid-gap: 10px;
        margin-inline: auto;
    }


    #one {
        background-color: rgb(200, 113, 113);
        grid-row-start: 1;
        grid-row-end: 10;
        border-radius: 1em;
        margin: auto;
    }

    #two {
        background-color: rgb(253, 171, 171);
        grid-row-start: 1;
        grid-row-end: 4;
        border-radius: 1em;
        margin: auto;

    }

    #five {
        background-color: rgb(130, 107, 107);
        grid-row-start: 1;
        grid-row-end: 5;
        border-radius: 1em;
        margin: auto;
    }

    #six {
        background-color: rgb(211, 108, 108);
        grid-row-start: 5;
        grid-row-end: 10;
        border-radius: 1em;
        margin: auto;
    }

    #four {
        background-color: rgb(190, 95, 95);
        grid-row-start: 1;
        grid-row-end: 10;
        border-radius: 1em;
        margin: auto;
    }

    #three {
        background-color: rgb(132, 72, 72);
        grid-row-start: 4;
        grid-row-end: 10;
        border-radius: 1em;
        margin: auto;
    }

    #one img {
        width: 300px;
        height: 550px;
        border-radius: 1em;
    }

    #two img {
        width: 350px;
        height: 240px;
        border-radius: 1em;
    }

    #three img {
        width: 350px;
        height: 200px;
        border-radius: 1em;
    }

    #four img {
        width: 300px;
        height: 550px;
        border-radius: 1em;
    }

    #five img {
        width: 350px;
        height: 240px;
        border-radius: 1em;
    }

    #six img {
        width: 350px;
        height: 200px;
        border-radius: 1em;
    }

    .main-image h2, h3 {
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        .main-image {
          width: 100%;
          height: auto;
          float: none;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          font-size: 25px;
          text-align: center;
        }
        .activites {
            text-align: center;
            padding: 10px;
            font-size: 20px;
        }
    }

@media (max-width: 768px) {
    header {
      flex-direction: column;
    }

    nav {
      order: -1;
      margin-bottom: 20px;
    }
}




.footer {
    background-color: white;
    margin-top: 25px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.container-footer {
    max-width: 2270px;
    background-color: rgb(216, 216, 216);
    margin: auto;
}

ul {
    list-style: none;
    font-size: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 10px;

}

.footer-col h4 {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 40px;
    font-weight: 500;
    position: relative;

}

.footer-col ul li:not(:last-child) {

    margin-bottom: 17px;

}

.footer li a {
    color: gray;
    font-display: none;
    font-style: none;
}

@media (max-width: 768px) {
    .footer {
      width: 100%;
    }
  }